html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1 0 auto; 
}

footer {
    flex-shrink: 0;
    padding: 20px 0;
}

video {
    filter: brightness(20%);
    background-attachment: fixed;
    -webkit-filter: brightness(20%);
}